
.svg {//Sign-in page footer
    width: 100vw;
    position: fixed;
    margin-top: auto;
    bottom: 0;
    z-index: -1000;
}

.whitefooter {//Sign-up page footer
    position: fixed;
    bottom: 0;
    margin-top: auto;
    width: 100vw;
}