
.svg {//Sign-in page footer
    width: 103rem;
    margin-top: auto;
    z-index: 10;
    
}

.whitefooter {//Sign-up page footer
    margin-top: auto;
    bottom: 0;
    width: 103rem;
}

.svgContainer {
    display: flex;
    max-width: 103rem;
}