//Sign-up page header
.greenheader {//green background
    margin-bottom: auto;
    width: 100vw;
    z-index: -1;
}

.textContainer {//container
    display: flex;
    justify-content: center;

    &__signUp {
        position: fixed;
        top: 0;
        color: var(--color-text-primary);
        font-size: 4.2rem;
        font-weight: 300;
        margin-top: 1.5rem;
        z-index: 2000;
    }
}
// 