
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


* {
    margin: 0;
    padding: 0;

    outline: none;
    box-shadow: none;
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    list-style: none outside none;
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem=10px, 10px/16px = 62.5%
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Ubuntu;
}

body {
    height: 100vh;
}
